html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.game-board {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 3rem;
}

.buttons > input {
    width: 10rem;
    height: 10rem;
}

#rock {
    background-image: url(images/Rock.png);
    background-size: cover;
}

#paper {
    background-image: url(images/Paper.png);
    background-size: cover;
}

#scissors {
    background-image: url(images/Scissors.png);
    background-size: cover;
}

.results {
    display: flex;
    gap: 3rem;
}